<h2>Add a Task List</h2>

<% if @task.errors.present? %>
  <div class="errors">
    <% @task.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="create-form">
  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <div class="errors"><%= @task.errors.messages[:name].first if @task.errors.messages[:name].present? %></div>
    <br><br>
    <%= f.submit class: 'blue_button' %>
  <% end %>
</div>